<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
    <title><%= @tweet[:title].upcase %> - <%= @tweet[:author_name] %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets_ad/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets_ad/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets_ad/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets_ad/css/ie8.css" /><![endif]-->
    <style>
      #main {
        background-image: url(<%= @tweet[:author_banner_url] %>);
          background-repeat: repeat-x;
        
        }
    </style>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
            <p><a href="/">Inicio</a></p>
          </header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
            <section id="content" class="main">
              <div class="author-block">

              <dl class="alt">
                <dt>
                  <img src="<%= @tweet[:author_pic] %>" alt="<%= @tweet[:author] %>" />
                </dt>
                <dd>
                <a 
                 href="<%= @tweet[:author_url]%>" 
                 onclick="window.open(this.href); return false;">
                 <%= @tweet[:author_name] %>
                  <p><%= @tweet[:username] %></p>
                  </a></dd>
              </dl>
              </div>

                <h1><%= @tweet[:title] %></h1>
                <p><%= @tweet[:author_location] %></p> 
                <p><% @tweet[:content].each do |line| %>
                <%= line %><br />
              <% end %></p>

                <div class="main-media">
                <% @tweet[:media].each do |m| %>
                  <% if m.class == Twitter::Media::Video %>

                    <% content_type = get_video_content_type(m) %>
                    <% url = get_video_url(m) %>

                    <video controls>
                      <source src="<%= url %>" type="<%= content_type %>">
                      Your browser does not support the video tag.
                   </video>

                  <% elsif m.class == Twitter::Media::Photo %>
                    <% url = get_image_url(m) %>
                    <img src="<%= url %>" alt="<%= @tweet["title"] %>" />
                  <% else %>
                   
                  <% end %>
                <% end %>

                </div>
                <p><% @tweet[:content].each do |line| %>
                <%= line %><br />
                <% end %></p>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Descripción:</h2>
              <p><%= @tweet[:author_description] %></p>
							<ul class="actions">
								<li><a href="/" class="button">Inicio</a></li>
							</ul>
						</section>
						<section>
							<h2>Usuario:</h2>
							<dl class="alt">
								<dt>Verficado</dt>
                <dd>(<%= @tweet[:author_verified]? "Sí":"No" %>)</dd>
								<dt>Antiguedad:</dt>
                <dd><%= @tweet[:author_created_at].day %>/<%= @tweet[:author_created_at].month %>/<%= @tweet[:author_created_at].year %></dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Creado por: <a href="https://www.eosweb.info/">EOS WEB Development</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/assets_ad/js/jquery.min.js"></script>
			<script src="/assets_ad/js/jquery.scrollex.min.js"></script>
			<script src="/assets_ad/js/jquery.scrolly.min.js"></script>
			<script src="/assets_ad/js/skel.min.js"></script>
			<script src="/assets_ad/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets_ad/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets_ad/js/main.js"></script>

	</body>
</html>
