<!DOCTYPE HTML>
<html>
	<head>
  <title><%= @title %> </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
  <body>
    <div id="top-menu">
  <nav>
    <ul>
      <li class="login"><a href="/login">Ingresar</a></li>
      <li class="register"><a href="/register">Registrarse</a></li>
      <li><a href="#footer" class="icon fa-info-circle">Publicar Aviso</a></li>
    </ul>
  </nav>
  </div>
		<!-- Wrapper -->
    <div id="wrapper">
				<!-- Header -->
					<header id="header">
            <h1><a href="index.html"><strong><%= @title %></strong> by EOS WEB Development</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">Publicar</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
        <div id="main">

          <% @tweet.each do |t| %>
            <article class="thumb">
              <% if !t[:media].empty? %>
                <a href="/t/<%= t[:id] %>" class="image">
                <% media = t[:media].first %>
                <% if media.class == Twitter::Media::Video %>

                  <% url = get_video_url(media) %>
                  <% content_type = get_video_content_type(media) %>

                   <video controls autoplay muted loop>
                      <source src="<%= url %>" type="<%= content_type %>">
                      Your browser does not support the video tag.
                   </video>
                <% elsif %>
                   <% url = get_image_url(media) %>
                   <img src="<%= url %>" alt="<%= t["title"] %>" />
                 <% else %>
                   <img src="images/empty.png" alt="<%= t["title"] %>" />
                 <% end %>
                </a>
               <% else %>
                <a href="/<%= t[:id] %>" class="image">
                  <img src="images/empty.png" alt="<%= t["title"] %>" />
                </a>
            <% end %>
            <span class="information">
              <h3><%= t[:price] %></h3>
                <p class="location"><%= t[:author_location] %></p>
                <a href="/t/<%= t[:id] %>">
                <h2><%= t[:title] %></h2></a>
                <p><a 
                   href="<%= t[:author_url]%>" 
                   onclick="window.open(this.href); return false;">
                   <%= t[:username] %></a> 
                </p>
            </span>
            </article>
          <% end %>

					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
                  <h2>Announcement</h2>
									<p>desde paraná Entre Ríos todo tipo de anuncios</p>
                </section>

								<section>
									<h2>Sigueme en ...</h2>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
                </section>

								<p class="copyright">
									&copy; Programmed and designed by: <a href="http://www.eosweb.info/">EOS WEB</a>.
								</p>
							</div>
							<div>
								<section>
									<h2>Publicar aviso</h2>
                  <form method="post" action="update" enctype="multipart/form-data">
                    <div class="field">
											<input type="text" name="title" id="title" placeholder="Titulo" />
										</div>

										<div class="field half first">
											<input type="text" name="price" id="price" placeholder="Precio $" />
										</div>
										<div class="field half">
											<input type="text" name="phone" id="phone" placeholder="Teléfono" />
										</div>
										<div class="field">
											<textarea name="message" id="message" rows="1" placeholder="Mensaje"></textarea>
                    </div>

										<div class="field">
											<input type="file" name="media" id="media" />
										</div>
										<ul class="actions">
											<li><input type="submit" value="Publicar" class="special" /></li>
											<li><input type="reset" value="Borrar" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
