<!DOCTYPE HTML>
<html>
	<head>
  <title><%= @title %> </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
            <h1><a href="index.html"><strong><%= @title %></strong> by EOS WEB Development</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon fa-info-circle">Nosotros</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
        <div id="main">

          <% @tweet.each do |t| %>
            <article class="thumb">
              <% if t[:media].class == Hash %>
                <a href="/<%= t[:title].downcase %>" class="image">
                <% if t[:media][:content_type] == "video/mp4" %>
                   <video controls autoplay loop>
                      <source src="<%= t[:media][:url] %>" type="<%= t[:media][:content_type] %>">
                      Your browser does not support the video tag.
                   </video>
                <% else %>
                   <img src="<%= t[:media][:url] %>" alt="" />
                <% end%>
                </a>
            <% end %>
            <span class="information">
              <h3><%= t[:price] %></h3>
              <a href="/<%= t[:title].downcase %>">
                <h2><%= t[:title] %></h2></a>
              <p><%= t[:author] %> <%t[:]%></p></span>
            </article>
          <% end %>

					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
                  <h2>Announcement</h2>
									<p>desde paraná Entre Ríos todo tipo de anuncios</p>
                </section>

								<section>
									<h2>Sigueme en ...</h2>
									<ul class="icons">
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
										<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
                </section>

								<p class="copyright">
									&copy; Programmed and designed by: <a href="http://www.eosweb.info/">EOS WEB</a>.
								</p>
							</div>
							<div>
								<section>
									<h2>Contactanos</h2>
									<form method="post" action="#">
										<div class="field half first">
											<input type="text" name="name" id="name" placeholder="Nombre" />
										</div>
										<div class="field half">
											<input type="text" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" rows="4" placeholder="Mensaje"></textarea>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Enviar" class="special" /></li>
											<li><input type="reset" value="Borrar" /></li>
										</ul>
									</form>
								</section>
							</div>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
